<nav class="bg-white h-full shadow-lg py-4 px-6">
  <!-- Sidebar Links -->
  <ul class="space-y-6">
    <li>
      <a [routerLink]="['/company/dashboard']" class="text-slate-900 font-semibold flex items-center">
        <i class="pi pi-home mr-3"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/company/jobs']" class="text-slate-900 font-semibold flex items-center">
        <i class="pi pi-briefcase mr-3"></i>
        <span>Jobs</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/company/applications']" class="text-slate-900 font-semibold flex items-center">
        <i class="pi pi-users mr-3"></i>
        <span>Applicants</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/company/profile']" class="text-slate-900 font-semibold flex items-center">
        <i class="pi pi-user mr-3"></i>
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>
